USE [master]
GO
/****** Object:  Database [Churches]    Script Date: 2018-12-21 09:22:05 ******/
CREATE DATABASE [Churches]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Churches', FILENAME = N'C:\Users\Administrator\Churches.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Churches_log', FILENAME = N'C:\Users\Administrator\Churches_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Churches].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Churches]
GO
USE [Churches]
GO
/****** Object:  Table [dbo].[Church]    Script Date: 2018-12-21 09:22:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Church](
	[ChurchId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[YearBuilt] [int] NULL,
 CONSTRAINT [PK_Church] PRIMARY KEY CLUSTERED 
(
	[ChurchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 2018-12-21 09:22:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[PersonId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonChurch]    Script Date: 2018-12-21 09:22:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonChurch](
	[PersonId] [int] NOT NULL,
	[ChurchId] [int] NOT NULL,
 CONSTRAINT [PK_PersonChurch] PRIMARY KEY CLUSTERED 
(
	[PersonId] ASC,
	[ChurchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Church] ON 

INSERT [dbo].[Church] ([ChurchId], [Name], [City], [YearBuilt]) VALUES (1, N'Oscar-Fredriks church', N'Göteborg', 1893)
INSERT [dbo].[Church] ([ChurchId], [Name], [City], [YearBuilt]) VALUES (2, N'Masthuggs church', N'Göteborg', 1914)
INSERT [dbo].[Church] ([ChurchId], [Name], [City], [YearBuilt]) VALUES (3, N'Sankt Georgios church', N'Stockholm', 1890)
SET IDENTITY_INSERT [dbo].[Church] OFF
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([PersonId], [Name], [City]) VALUES (1, N'Linnea', N'Göteborg')
INSERT [dbo].[Person] ([PersonId], [Name], [City]) VALUES (2, N'Harry', N'Stockholm')
SET IDENTITY_INSERT [dbo].[Person] OFF
INSERT [dbo].[PersonChurch] ([PersonId], [ChurchId]) VALUES (1, 1)
INSERT [dbo].[PersonChurch] ([PersonId], [ChurchId]) VALUES (1, 4)
INSERT [dbo].[PersonChurch] ([PersonId], [ChurchId]) VALUES (2, 4)
ALTER TABLE [dbo].[PersonChurch]  WITH CHECK ADD  CONSTRAINT [FK_PersonChurch_Church] FOREIGN KEY([ChurchId])
REFERENCES [dbo].[Church] ([ChurchId])
GO
ALTER TABLE [dbo].[PersonChurch] CHECK CONSTRAINT [FK_PersonChurch_Church]
GO
ALTER TABLE [dbo].[PersonChurch]  WITH CHECK ADD  CONSTRAINT [FK_PersonChurch_Person] FOREIGN KEY([PersonId])
REFERENCES [dbo].[Person] ([PersonId])
GO
ALTER TABLE [dbo].[PersonChurch] CHECK CONSTRAINT [FK_PersonChurch_Person]
GO
USE [master]
GO
